{% extends "base.html" %}

{% block content %}
<h2 align="center">Оформление каюты</h2>
<div class="table-container">
    <div class="column">
        <div align="center" style="background-color: gray;">
            <h5>Цвет стен</h5>
        </div>
        <div class="clr" style="background-color: {{ wall_color }}; height: 868.5px; width: 650px"></div>
    </div>
    <div class="column">
        <div align="center" style="background-color: gray">
            <h5>Эмблема</h5>
        </div>
        <img src="{{ image }}" style="width: 650px">
    </div>
</div>
{% endblock %}